/**
 * JSON Syntax Highlighting Colors
 * Used by jsonHighlighter.ts for code highlighting
 */

.json-key {
  color: #9cdcfe;
}

.json-string {
  color: #ce9178;
}

.json-number {
  color: #b5cea8;
}

.json-boolean {
  color: #569cd6;
}

.json-null {
  color: #569cd6;
}
